* {
  box-align: border-box;
}

body {
  background: black;
}

.time,
.date {
  /* color: rgb(20, 125, 160); */
  font-weight: bold;
  padding: 15px;
  font-size: 1.5em;
}

.success,
.error {
  color: black;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: greenyellow;
}

.error {
  background: red;
}
